<a href="/cart" class="icon-link cart-icon-link">
    <i class="fa-solid fa-cart-shopping"></i>
    {% if cart.item_count > 0 %}
        <span class="badge rounded-pill">{{ cart.item_count }}</span>
    {% endif %}
</a>