{% set statusColorMap = {
  'pending': 'bg-yellow-500/20 text-yellow-500 border-yellow-500/10',
  'open': 'bg-blue-500/20 text-blue-500 border-blue-500/10',
  'closed': 'bg-green-500/20 text-green-500 border-green-500/10'
} %}

{% set statusLabelMap = {
  'pending': 'Awaiting Your Response',
  'open': 'Awaiting Support Response',
  'closed': 'Closed'
} %}

<div class="container mx-auto px-4 my-16 lg:my-32 relative">
  <div class="m-auto absolute inset-x-0 top-0 -z-10 aspect-square rounded-full blur-[300px] bg-accent-500/50 max-w-4xl -translate-y-1/2 w-[65%]" aria-hidden="true"></div>

  <div class="w-full mx-auto flex flex-col gap-4 md:gap-6 lg:gap-8 lg:flex-row">
    <div class="lg:flex-1">
      {% render_snippet "customer-sidebar.njk" %}
    </div>
    <div class="lg:w-3/4">
      <div class="flex items-center gap-3 rounded-lg border-2 border-accent-500/10 bg-accent-500/5 p-3 mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-5 text-accent-500" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M12 17q.425 0 .713-.288T13 16v-4q0-.425-.288-.712T12 11t-.712.288T11 12v4q0 .425.288.713T12 17m0-8q.425 0 .713-.288T13 8t-.288-.712T12 7t-.712.288T11 8t.288.713T12 9m0 13q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
        <p class="flex-1 text-sm text-t-primary/80">
          You can open a new ticket on the <a href="{{ '/customer/invoices' | shopUrl }}" class="text-accent-500 hover:underline">Orders</a> page by clicking on the "Open Ticket" button next to an order.
        </p>
      </div>

      <div class="flex flex-col gap-4">
        {% if tickets.data.length > 0 %}
          {% for ticket in tickets.data %}
            {% set statusColor = (statusColorMap[ticket.status] if statusColorMap[ticket.status] else 'bg-gray-500/20 text-gray-500 border-gray-500/10') %}

            <div class="flex flex-col bg-white/5 backdrop-blur-2xl rounded-xl border-2 border-white/5">
              <div class="p-4 md:p-6 lg:p-7">
                <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-1 sm:gap-2">
                  <a href="{{ ('/customer/tickets/' ~ ticket.id) | shopUrl }}" class="text-lg sm:text-xl text-t-primary font-semibold truncate hover:underline">
                    {{ ticket.subject }}
                  </a>
                  <p>
                    <span class="px-2 py-1 text-xs sm:text-sm border rounded-md {{ statusColor }}">
                      {% if ticket.status in statusLabelMap %}
                        {{ statusLabelMap[ticket.status] }}
                      {% else %}
                        <span class="capitalize">{{ ticket.status | replace('_', ' ') }}</span>
                      {% endif %}
                    </span>
                  </p>
                </div>
                {% if ticket.last_message %}
                  <p class="text-xs sm:text-sm text-t-primary/40 mt-4 sm:mt-2">
                    Latest Message:
                  </p>
                  <p class="text-xs sm:text-sm text-t-primary/60 truncate">
                    <span class="text-t-primary/80">
                      {{ 'You' if ticket.last_message.sender_type == 'shop_customer' else 'Support' }}:
                    </span>
                    <span class="truncate">
                      {{ ticket.last_message.content }}
                    </span>
                  </p>
                {% endif %}
              </div>
              <div class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between border-t border-white/5 p-4 md:px-6 lg:px-7">
                <a href="{{ ('/customer/tickets/' ~ ticket.id) | shopUrl }}" class="text-sm text-t-primary/60">
                  Ticket <span class="text-accent-500">#{{ ticket.id }}</span>
                </a>
                <div class="grid grid-cols-2 sm:flex sm:items-center gap-2">
                  {% if ticket.invoice %}
                    <a href="{{ ticket.invoice.url }}" target="_blank" class="inline-flex items-center justify-center gap-1.5 px-3 py-1 text-sm border rounded-md bg-white/10 text-t-primary/75 border-white/5 hover:bg-white/20 transition duration-300 ease-in-out">
                      <span>View Invoice</span>
                      <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h6q.425 0 .713.288T12 4t-.288.713T11 5H5v14h14v-6q0-.425.288-.712T20 12t.713.288T21 13v6q0 .825-.587 1.413T19 21zM19 6.4L10.4 15q-.275.275-.7.275T9 15t-.275-.7t.275-.7L17.6 5H15q-.425 0-.712-.288T14 4t.288-.712T15 3h5q.425 0 .713.288T21 4v5q0 .425-.288.713T20 10t-.712-.288T19 9z"/></svg>
                    </a>
                  {% endif %}
                  <a href="{{ ('/customer/tickets/' ~ ticket.id) | shopUrl }}" class="inline-flex items-center justify-center gap-1.5 px-3 py-1 text-sm border rounded-md bg-accent-500/10 text-accent-500 border-accent-500/5 hover:bg-accent-500/20 transition duration-300 ease-in-out">
                    <span>View Ticket</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h11q.475 0 .9.213t.7.587l4.5 6q.4.525.4 1.2t-.4 1.2l-4.5 6q-.275.375-.7.588T15 20zm0-2h11l4.5-6L15 6H4zm7.75-6"/></svg>
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="flex flex-col p-4 md:p-6 lg:p-7 bg-white/5 backdrop-blur-2xl rounded-xl border-2 border-white/5">
            <p class="text-2xl text-t-primary font-semibold">
              No Tickets Yet
            </p>
          </div>
        {% endif %}
      </div>

      {% if tickets.last_page > 1 %}
        {% render_snippet "pagination.njk", paginator=tickets %}
      {% endif %}
    </div>
  </div>
</div>

<div class="components">
  {% for componentId in components_order %}
    {% render_component componentId %}
  {% endfor %}
</div>